@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model PartyFund.Presentation.UI.Common.ViewModels.UserDetailViewModel
@section styles{
    <link href="http://blazeworx.com/flags.css" rel="stylesheet">
@*<link href="~/Content/styles/countryDropdownCSS.css" rel="stylesheet" />*@
}
<style>
    .dropdown-toggle {
        width: 100%;
    }

    .dropdown-menu {
        width: 100%;
    }
</style>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Registration</h3>
                <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    @using (Html.BeginForm("Registration", "User", FormMethod.Post,
                                      new { enctype = "multipart/form-data", role = "form", id = "registrationForm" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.FirstName)
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.MiddleName)
                                @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.LastName)
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.MobileNumber)
                                @Html.TextBoxFor(x => x.MobileNumber, new { @class = "form-control", required = "required" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.Email)
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", type = "email", required = "required" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.UserName)
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", required = "required", name = "UserName" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.CompanyName)
                                @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @Value = ViewBag.CompanyName, @readonly = "readonly" })
                            </div>
                            <div class="form-group col-lg-6">
                                @Html.LabelFor(x => x.Password)
                                @Html.PasswordFor(x => x.Password, new { id = "pwd", @class = "form-control", required = "required" })
                            </div>
                            <div class="col-lg-12">
                                <div class="hpanel hgreen">
                                    <div class="panel-heading">
                                        <div class="panel-tools">
                                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                                            <a class="closebox"><i class="fa fa-times"></i></a>
                                        </div>
                                        Optional fields
                                    </div>
                                    <div class="panel-body ">
                                        <div class="form-group col-lg-6">
                                            @Html.LabelFor(x => x.Desgination)
                                            @Html.TextBoxFor(x => x.Desgination, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-lg-6">
                                            @Html.LabelFor(x => x.Address)
                                            @Html.TextBoxFor(x => x.Address, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-lg-6">
                                            @Html.LabelFor(x => x.City)
                                            @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-lg-6">
                                            @Html.LabelFor(x => x.State)
                                            @Html.TextBoxFor(x => x.State, new { @class = "form-control" })
                                        </div>
                                        <div class="form-group col-lg-6">
                                            @Html.LabelFor(x => x.Country)
                                            <div class="flagstrap" id="select_country" data-input-name="NewBuyer_country" data-selected-country=""></div>
                                            @Html.HiddenFor(x => x.Country, new { @class = "form-control" })
                                           
                                        </div>



                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-success" type="submit">Register</button>
                            <button class="btn btn-default" type="button" id="btnCancels" onclick=" window.location.href = document.referrer;"> Cancel</button>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>HOMER</strong> - AngularJS Responsive WebApp <br /> 2015 Copyright Company Name
        </div>
    </div>
</div>
@section Scripts{
@*<script src="~/Content/scripts/countryDropdownJS.js"></script>*@
    <script src="http://blazeworx.com/jquery.flagstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#select_country').attr('data-selected-country', 'Please Select your country');
            $('#select_country').flagStrap();
        });
    </script>
    <script>
        $(function () {
            jQuery('.showhide').click();
            debugger;
            var status = String("@ViewBag.Status");
            var companyName = String("@ViewBag.companyName");
            if (status.trim()) {
                toastr.success('Info - This is a ' + "@ViewBag.Status" + ' custom Homer info notification');
                $("input[type=text],input[type=email],input[type='password'], textarea").val("");
                //to give company name to organization field
                $("#CompanyName").val(companyName);
                $("#Country").val("");
            }
        });
    </script>
    <script>

        $(function () {


            $("#registrationForm").validate({
                rules: {
                    FirstName: {
                        required: true,
                        minlength: 3
                    },
                    LastName: {
                        required: true,
                        minlength: 3
                    },
                    UserName: {
                        required: true,
                        minlength: 5
                    },
                    MobileNumber: {
                        required: true,
                        number: true,
                        maxlength: 10,
                        minlength: 10
                    }
                },
                messages: {
                    MobileNumber: {
                        required: "(Please enter your phone number)",
                        number: "(Please enter valid phone number)"
                    },
                    UserName: {
                        required: "Please enter valid user name",
                        minlength: "User name should be at least 5 characters long."
                    },
                    FirstName: {
                        required: "Please enter first name",
                        minlength: "First name should be at least 3 characters long."
                    },
                    LastName: {
                        required: "Please enter last name",
                        minlength: "Last name should be at least 3 characters long."
                    },
                },
                submitHandler: function (form) {
                    debugger;
                    var test = $(".dropdown-toggle").text();
                    //here regular expression is used to make text into lines
                    var lines = test.replace(/(^[ \t]*\n)/gm, "").split("\n");
                    //get last line as country name and regular expression is used to delete white space
                    var countryName = lines[lines.length - 1].replace(/^\s+|\s+$/g, '');
                    if (!(countryName == "Please select country" || countryName == "") ) {
                        $("#Country").val(countryName);
                    }
                    form.submit();
                },
                errorPlacement: function (error, element) {
                    $(element)
                            .closest("form")
                            .find("label[for='" + element.attr("id") + "']")
                            .append(error);
                },
                errorElement: "span",
            });


        });
    </script>
}